<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings />
    <connectionStrings />
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Welcome.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
<system.web>
   <authentication mode="Windows" />
   <authorization>
      
      <deny users="*" />
   </authorization>
</system.web>
